@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'inter', sans-serif;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px; /* Adjust the spacing between columns */
}

th {
  text-align: left;
}

td {
  text-align: left;
}
